

<div class = "container">
    
    
    <div class = "row">
        <div class = "col-lg-6 offset-lg-3 col-sm-12">
    
    <form [formGroup] = "signup"  (ngSubmit) = "onclick()" >
        <div class = "form-group">
            <label>NAME</label>
            <input type = "text" formControlName = "name"  class = "form-control">
            
            </div>
        
        <div class = "form-group">
            <label>EMAIL</label>
            <input type  = "email" class = "form-control" formControlName = "email">
            
            </div>
            
            <div class = "form-group">
                <label>ADDRESS</label>
            <input type = "text"  class = "form-control" formControlName = "address">
                
            </div>
            
            <div class = "form-group">
            <label>GENDER</label>
            <br>
               <input type="radio" formControlName = "gender" value = "male">
               <label>  MALE </label>
           <input type="radio" formControlName = "gender" value = "female">
               <label>FEMALE</label>    
            </div>
            
            <div class = "form-group">
            <label>EMPLOY</label>
            <br>
            <input type = "radio"    formControlName = "user" value = "permanent">
            <label>PERMANENT  </label>
            <input type = "radio"  formControlName = "user" value = "contact">
            <label>CONTACTUSER  </label>
            </div>
    
            <div class = "form-group">
                <button type = "submit" class = "btn btn-primary" >SUBMIT</button>
                </div>
    
    </form>
    
    </div>
    </div>
    </div>